---
import config from "@/config";
import IconGitHub from "@/assets/icons/socials/github.svg";
import IconX from "@/assets/icons/socials/x.svg";
import LinkButton from "./LinkButton.astro";

const { site, socials } = config;
const items = [
  { url: socials.github, title: `${site.title} on GitHub`, Icon: IconGitHub },
  { url: socials.x, title: `${site.title} on X`, Icon: IconX },
];
---

<div class="flex flex-wrap items-center gap-1">
  {
    items.map(({ url, title, Icon }) => (
      <LinkButton href={url} class="p-2 hover:rotate-6 sm:p-1" title={title}>
        <Icon class="inline-block size-6 scale-125 fill-transparent stroke-current stroke-2 opacity-90 group-hover:fill-transparent sm:scale-110" />
        <span class="sr-only">{title}</span>
      </LinkButton>
    ))
  }
</div>
